@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  font-family: 'Raleway', sans-serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.checklist {
  max-width: 400px;
  margin: 0 auto;
  border: 1px dashed #000;
  background-color: #fff;
}

.checklist__content {
  padding: 20px;
}

.checklist__title {
  font-size: 20px;
  text-align: center;
}

.checklist__input {
  border: 1px solid #000;
  margin: 15px 0;
  font-size: 16px;
  width: 100%;
  padding: 5px;
}

.checklist__item {
  font-size: 16px;
  padding: 0 0 20px 0;
}

.checklist__item:last-child {
  padding: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__text {
  word-wrap: break-word;
  max-width: 300px;
}

.item__symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item__cross {
  cursor: pointer;
}

.item__done {
  cursor: pointer;
  margin: 0 0 0 5px;
}

.item__text._done {
  text-decoration: line-through;
  opacity: 0.5;
}
